spring:
  application:
    name: clarium-sso
  profiles:
    active: local
  datasource:
    url: "jdbc:sqlserver://10.2.1.4:52752;databaseName=${DB_NAME};encrypt=true;trustServerCertificate=true"
    username: "${DB_USER}"
    password: "${DB_PASSWORD}"
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect